{% extends "blog/padre.html" %}
{% load static %}


{% block encabezado %}
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    {% block titulo_principal %}
                        <h1 class="fw-bolder">Lucas Diorio</h1>
                        <p class="lead mb-0">Mi nombre es Lucas tengo 28 años y soy estudiante de Ingeniería Industrial (restando un final para recibirme) en la UTN de Buenos Aires.<br> Actualmente 
                        estoy trabajo en una empresa de servicios llamada Teknofood como Analista Operativo. Tengo gran interés en crecer y desarrollarme en el área de data analyst/data science.
                        Como proyecto final del curso dictado por Coderhouse de Python, desarrollé un blog con la temática de novedades de Películas y Series con diferentes funcionalidades.</p>
                        <p class="lead mb-0">{{ mensaje }}</p>
                    {% endblock %}
                </div>
            </div>
        </header>
{% endblock %}