{% extends "blog/padre.html" %}
{% load static %}


{% block encabezado %}
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    {% block titulo_principal %}
                        <h1 class="fw-bolder">Bienvenido/a al Blog "MovieNews"</h1>
                        <p class="lead mb-0">Aquí verás las últimas noticias sobre Series y Películas</p>
                        <p class="lead mb-0">{{ mensaje }}</p>
                    {% endblock %}
                </div>
            </div>
        </header>
{% endblock %}

{% block contenido %}
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    {% if post_1 %}
                    <div class="card mb-4">
                        <a href="{% url 'post' post_1.id %}"><img class="card-img-top" src="{{ post_1.imagen.url }}" width="850" height="350" /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{ post_1.autor }}, el {{ post_1.fecha }}</div>
                            <h2 class="card-title">{{ post_1.titulo }}</h2>
                            <p class="card-text">{{ post_1.intro }}</p>
                            <a class="btn btn-primary" href="{% url 'post' post_1.id %}">Leer Completo →</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="card mb-4">
                        <h2 class="post-title">Aún no hay entradas para mostrar</h2>
                    </div>
                    {% endif %}
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            {% if post_2 %}
                            <div class="card mb-4">
                                <a href="{% url 'post' post_2.id %}"><img class="card-img-top" src="{{ post_2.imagen.url }}" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">{{ post_2.autor }}, el {{ post_2.fecha }}</div>
                                    <h2 class="card-title h4">{{ post_2.titulo }}</h2>
                                    <p class="card-text">{{ post_2.intro }}</p>
                                    <a class="btn btn-primary" href="{% url 'post' post_2.id %}">Leer Completo →</a>
                                </div>
                            </div>
                            {% else %}
                            <div class="card mb-4">
                                <h3 class="post-title">Aún no hay entradas para mostrar</h3>
                            </div>
                            {% endif %}
                            <!-- Blog post-->
                            {% if post_3 %}
                            <div class="card mb-4">
                                <a href="{% url 'post' post_3.id %}"><img class="card-img-top" src="{{ post_3.imagen.url }}" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">{{ post_3.autor }}, el {{ post_3.fecha }}</div>
                                    <h2 class="card-title h4">{{ post_3.titulo }}</h2>
                                    <p class="card-text">{{ post_3.intro }}</p>
                                    <a class="btn btn-primary" href="{% url 'post' post_3.id %}">Leer Completo →</a>
                                </div>
                            </div>
                            {% else %}
                            <div class="card mb-4">
                                <h3 class="post-title">Aún no hay entradas para mostrar</h3>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            {% if post_4 %}
                            <div class="card mb-4">
                                <a href="{% url 'post' post_4.id %}"><img class="card-img-top" src="{{ post_4.imagen.url }}" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">{{ post_4.autor }}, el {{ post_4.fecha }}</div>
                                    <h2 class="card-title h4">{{ post_4.titulo }}</h2>
                                    <p class="card-text">{{ post_4.intro }}</p>
                                    <a class="btn btn-primary" href="{% url 'post' post_4.id %}">Leer Completo →</a>
                                </div>
                            </div>
                            {% else %}
                            <div class="card mb-4">
                                <h3 class="post-title">Aún no hay entradas para mostrar</h3>
                            </div>
                            {% endif %}
                            <!-- Blog post-->
                            {% if post_5 %}
                            <div class="card mb-4">
                                <a href="{% url 'post' post_5.id %}"><img class="card-img-top" src="{{ post_5.imagen.url }}" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">{{ post_5.autor }}, el {{ post_5.fecha }}</div>
                                    <h2 class="card-title h4">{{ post_5.titulo }}</h2>
                                    <p class="card-text">{{ post_5.intro }}</p>
                                    <a class="btn btn-primary" href="{% url 'post' post_5.id %}">Leer Completo →</a>
                                </div>
                            </div>
                            {% else %}
                            <div class="card mb-4">
                                <h3 class="post-title">Aún no hay entradas para mostrar</h3>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Pagination-->
                    
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Buscar</div>
                        <div class="card-body">
                            <div class="input-group">
                                <form action="{% url 'buscarpost' %}" method="GET">
                                    <input type="text" name="titulo" id="titulo">
                                    <input type="submit" value="Buscar Post">
                                    {{ mensaje_buscar }}
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    
                    <!-- Side widget-->
                    <div class="card mb-4">
                        {% block side_widget %}
                        
                        {% endblock %}

                        {% block mensaje %}
                        
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


