{% extends "usuarios/user.html" %}
{% load static %}

{% block titulo_principal %}
<h1 class="fw-bolder">Mensajes enviados</h1>
{% endblock %}

{% block contenido %}

<h4 class="text-black-50" style="text-align: center;">Listado de mensajes enviados</h4>
<table style="width:90%" border=1>
    <tr>
        <th style="width:20px">Desde:</th>
        <th style="width:20px">Para:</th>
        <th style="width:40px">Mensajes:</th>
        <th style="width:40px">Fecha</th>
        <th style="width:40px">Leído</th>
    </tr>
    {% for indice in mensajes %}
    <tr>
        <td style="width:20px">{{ indice.enviar }}</td>
        <td style="width:20px"> {{ indice.recibir }}</td>
        <td style="width:40px">{{ indice.mensaje }}</td>
        <td style="width:40px">{{ indice.horarec }}</td>
        <td style="width:40px">{{ indice.leido }}</td>
        
    </tr>   
        
    {% endfor %}
    
</table>
<br>
<br>

{% endblock %}