{% extends "usuarios/user.html" %}
{% load static %}

{% block titulo_principal %}
<h1 class="fw-bolder">Enviar mensaje</h1>
{% endblock %}

{% block contenido %}
{% csrf_token %} 

<!-- <h2 class="text-white mb-5">mensaje</h2>
<form action="{% url 'register' %}" method="POST">{% csrf_token %}
   
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Ingresar">

    </form> -->
<h2 class="text-black mb-5">Escribir mensaje</h2>
<form action="mensajeFormulario" method="POST"> {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <br>
    <input type="submit" value="Enviar">
    


</form>
<br>
    {{ alerta }}
    
{% endblock %}