{% extends "blog/padre.html" %}

{% load static %}

{% block encabezado %}
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    {% block titulo_principal %}
                        <h1 class="fw-bolder">Login</h1>
                        <p class="lead mb-0">Por favor loguearse para ingresar al Blog</p>
                        <p class="lead mb-0">{{ mensaje }}</p>
                    {% endblock %}
                </div>
            </div>
        </header>
{% endblock %}

{% block contenido %}
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->                    
                    <div class="card mb-4">
                        
                        <div class="card-body">
                          
                          <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                            <table>
                              {{ form.as_table }}
                            </table>
                            <br>
                            <input type="submit" value="Ingresar">
                          
                            
                          
                          </form>
                        </div>
                    </div>
                    <!-- Pagination-->
                    
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    
                    
                    <!-- Side widget-->
                    <div class="card mb-4">
                        {% block side_widget %}
                        
                        {% endblock %}

                        {% block mensaje %}
                        
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


