{% extends "usuarios/user.html" %}

{% load static %}

{% block titulo_principal %}
<h1 class="fw-bolder">Editar Perfil</h1>
<p class="lead mb-0">Modificando información de tu perfil</p>
{% endblock %}

{% block contenido %}
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->                    
                    <div class="card mb-4">
                        
                        <div class="card-body">
                          {{ mensaje }}
                          <form action="{% url 'perfiledit'%}" method="post" enctype="multipart/form-data"> {% csrf_token %}
                            <table>
                                {{ form_edit_perfil }}
                                {{ form_edit_perfil.media }}
                               
                            </table>
                            <div class="form-group">
                                <br>
                                <input type="submit" class="btn btn-primary btn-block" value="Editar perfil">
                            </div>
                        </form>
                        </div>
                    </div>
                    <!-- Pagination-->
                    
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    
                    
                    <!-- Side widget-->
                    <div class="card mb-4">
                        {% block side_widget %}
                        
                        {% endblock %}

                        {% block mensaje %}
                        
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
