{% extends "blog/padre.html" %}

{% load static %}

{% block encabezado %}
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    {% block titulo_principal %}
                        <h1 class="fw-bolder">Perfil de usuario</h1>
                        <p class="lead mb-0">Información de tu perfil de usuario</p>
                        <p class="lead mb-0">{{ mensaje }}</p>
                    {% endblock %}
                </div>
            </div>
        </header>
{% endblock %}

{% block contenido %}
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->                    
                    <div class="card mb-4">
                        
                        <div class="card-body">
                          {{ mensaje }}
                            <img src= "{{ avatar }}" width="250">
                            <table>
                                
                                <p>Username: {{ user.username }}</p>
                                <p>Nombre: {{ user.first_name }}</p>
                                <p>Apellido: {{ user.last_name }}</p>
                                <p>email: {{ user.email }}</p>
                                <p>Descripcion: {{ descripcion }}</p>
                               
                            </table>
                            <div class="form-group">
                                <br>
                                <form action="{% url 'perfiledit' %}">
                                    <input type="submit" class="btn btn-primary btn-block" value="Editar Perfil" />
                                </form>
                                <br>
                                <form action="{% url 'editUser' %}">
                                    <input type="submit" class="btn btn-primary btn-block" value="Editar Uusario" />
                                </form>
                            </div>
                        
                        </div>
                    </div>
                    <!-- Pagination-->
                    
                </div>
                
            </div>
        </div>
{% endblock %}
