{% extends "usuarios/user.html" %}

{% load static %}

{% block titulo_principal %}
<h1 class="fw-bolder">Perfil de Usuario</h1>
<p class="lead mb-0">Información de tu perfil de Usuario</p>
{% endblock %}

{% block contenido %}
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->                    
                    <div class="card mb-4">
                        
                        <div class="card-body">
                          {{ mensaje }}
                            <img src= "{{ avatar }}" width="250">
                            <table>
                                
                                <p>Username: {{ user.username }}</p>
                                <p>Nombre: {{ user.first_name }}</p>
                                <p>Apellido: {{ user.last_name }}</p>
                                <p>email: {{ user.email }}</p>
                                <p>Descripcion: {{ perfil.descripcion }}</p>
                               
                            </table>
                            <div class="form-group">
                                <br>
                                <form action="{% url 'perfiledit' %}">
                                    <input type="submit" class="btn btn-primary btn-block" value="Editar Perfil" />
                                </form>
                                
                            </div>
                        
                        </div>
                    </div>
                    <!-- Pagination-->
                    
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    
                    
                    <!-- Side widget-->
                    <div class="card mb-4">
                        {% block side_widget %}
                        
                        {% endblock %}

                        {% block mensaje %}
                        
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
