{% extends "usuarios/padre.html" %}
{% load static %}


{% block encabezado %}
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    {% block titulo_principal %}
                        <h1 class="fw-bolder">Bienvenido al Blog!</h1>
                        <p class="lead mb-0">Aquí verás las últimas noticias sobre Series y Películas</p>
                        <p class="lead mb-0">{{ mensaje }}</p>
                    {% endblock %}
                </div>
            </div>
        </header>
{% endblock %}

{% block contenido %}
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    {% if post_1 %}
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{ post_1.autor }}, el {{ post_1.fecha }}</div>
                            <h2 class="card-title">{{ post_1.titulo }}</h2>
                            <p class="card-text">{{ post_1.intro }}</p>
                            <a class="btn btn-primary" href="#!">Leer Completo →</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="card mb-4">
                        <h2 class="post-title">Aún no hay entradas para mostrar</h2>
                    </div>
                    {% endif %}
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            {% if post_2 %}
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">{{ post_2.autor }}, el {{ post_2.fecha }}</div>
                                    <h2 class="card-title h4">{{ post_2.titulo }}</h2>
                                    <p class="card-text">{{ post_2.intro }}</p>
                                    <a class="btn btn-primary" href="#!">Leer Completo →</a>
                                </div>
                            </div>
                            {% else %}
                            <div class="card mb-4">
                                <h3 class="post-title">Aún no hay entradas para mostrar</h3>
                            </div>
                            {% endif %}
                            <!-- Blog post-->
                            {% if post_3 %}
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">{{ post_3.autor }}, el {{ post_3.fecha }}</div>
                                    <h2 class="card-title h4">{{ post_3.titulo }}</h2>
                                    <p class="card-text">{{ post_3.intro }}</p>
                                    <a class="btn btn-primary" href="#!">Leer Completo →</a>
                                </div>
                            </div>
                            {% else %}
                            <div class="card mb-4">
                                <h3 class="post-title">Aún no hay entradas para mostrar</h3>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            {% if post_4 %}
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">{{ post_4.autor }}, el {{ post_4.fecha }}</div>
                                    <h2 class="card-title h4">{{ post_4.titulo }}</h2>
                                    <p class="card-text">{{ post_4.intro }}</p>
                                    <a class="btn btn-primary" href="#!">Leer Completo →</a>
                                </div>
                            </div>
                            {% else %}
                            <div class="card mb-4">
                                <h3 class="post-title">Aún no hay entradas para mostrar</h3>
                            </div>
                            {% endif %}
                            <!-- Blog post-->
                            {% if post_5 %}
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">{{ post_5.autor }}, el {{ post_5.fecha }}</div>
                                    <h2 class="card-title h4">{{ post_5.titulo }}</h2>
                                    <p class="card-text">{{ post_5.intro }}</p>
                                    <a class="btn btn-primary" href="#!">Leer Completo →</a>
                                </div>
                            </div>
                            {% else %}
                            <div class="card mb-4">
                                <h3 class="post-title">Aún no hay entradas para mostrar</h3>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Web Design</a></li>
                                        <li><a href="#!">HTML</a></li>
                                        <li><a href="#!">Freebies</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">JavaScript</a></li>
                                        <li><a href="#!">CSS</a></li>
                                        <li><a href="#!">Tutorials</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        {% block side_widget %}
                        
                        {% endblock %}

                        {% block mensaje %}
                        
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


